modules = ["nodejs-20", "web", "bash"]
run = "bash scripts/setup.sh"

[nix]
channel = "stable-25_05"

[deployment]
run = ["bash", "scripts/setup.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 22133
externalPort = 3000

[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[userenv]

[userenv.shared]
SUPABASE_URL = "https://kefoiokfzygggetpsxmm.supabase.co"
SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtlZm9pb2tmenlnZ2dldHBzeG1tIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDQ0NTg1MiwiZXhwIjoyMDk2MDIxODUyfQ.caG0LKiLMprpNBcp6DhodBEHnimZcQS_jeE3hLUkq-E"
SUPABASE_BUCKET = "uploads"
NEON_DATABASE_URL = "postgresql://neondb_owner:npg_9LWI5QguVlwi@ep-young-band-aqtvj4to-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash scripts/setup.sh"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"
