modules = ["nodejs-20", "nix", "postgresql-16"]
run = "bash scripts/setup.sh"

[nix]
channel = "stable-25_05"

[deployment]
run = ["bash", "scripts/setup.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 22133
externalPort = 3000

[agent]
expertMode = true
